*{Padding: 0;
    Margin: 0;
    Box-sizing: border-box}

  .clearfix::after{
   content: "";
   display: table;
   clear: both;}



/* SECTION Mobile */
@media only screen and (max-width: 420px){
body{
    /* display: flex; */
    position: relative;
    background-color: black;
    width: 100vw;
    height: 100vh;}

/* ANCHOR Header */
header{
    display: flex;
    position: absolute;
    right: 0%;
    /* background-color: aqua; */
    width: 90%;
    height: 10%;
    justify-content: end;
    align-items: center;
    padding-right: 10px;
}

        .upgrade{
            padding: 5px;
            border: 1px solid white;
            border-radius: 20px;
            text-align: center;


 
        }

        .upgrade a{
            color: white;
            text-decoration: none;
            font-size: 0.5em;
        }

/* ANCHOR Nav left */
.nav-left{
    display: flex;
    /* background-color: rgb(17, 245, 36); */
    height: 90%;
    width: 10%;
    flex-direction: column;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.icon-nav div>img{
    width: 30px;
}


/* ANCHOR Main */
main{
    position: absolute;
    display: flex;
    height: 80%;
    width: 90%;
    background-color: yellow;
    top: 10vh;
    right: 0vw;
}




/* ANCHOR Footer */
footer{
    display: flex;
    justify-content: space-between;
    height: 10vh;
    width: 100vw;
    /* background-color: aquamarine; */
}

    .footer-left{
        display: flex;
        /* background-color: aliceblue; */
        width: 20%;
        align-items: center;
    }

        .footer-left div>div>img{
            width: 50px;
        }
        .footer-left div>p:nth-child(1){
            font-size: 0.6em;
            font-weight:700;
            color: white;
        }
        .footer-left div>p:nth-child(2){
            font-size: 0.5em;
            color: white;
        }
        .footer-left div:nth-last-child(2){
            margin: 3px;
        }

    .footer-middle{
        display: flex;
        /* background-color: rgb(247, 10, 10); */
        width: 50%;
        flex-direction: column;
        justify-content: center;
    }
        .footer-middle div{
            display: flex;
            justify-content: space-between;
        }
        .footer-middle div>div{
            color: white;
            font-size: 1.2em;
            margin: 3px;
        }

    .footer-right{
        display: flex;
        justify-content: center;
        color: white;
        /* background-color: green; */
        width: 20%;
        align-items: center;
    }
        .footer-right div:nth-child(4){
            width: 10px;
        }
        .footer-right div{
            font-size: smaller;
        }













}

!SECTION 