*{Padding: 0;
    Margin: 0;
    Box-sizing: border-box}

.clearfix::after{
    content: "";
    display: table;
    clear: both;}



/* SECTION Mobile */
@media only screen and (max-width: 420px){
body{
    /* display: flex; */
    position: relative;
    background-color: black;
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

/* ANCHOR Header */
header{
    display: flex;
    position: absolute;
    right: 0px;
    width: 90%;
    height: 10%;
    justify-content: end;
    align-items: center;
    padding-right: 10px;
}
        .upgrade{
            padding: 5px;
            border: 1px solid white;
            border-radius: 20px;
            text-align: center;
        }

        .upgrade a{
            color: white;
            text-decoration: none;
            font-size: 0.5em;
        }

/* ANCHOR Nav left */

    .nav-left{
        display: flex;
        position: absolute;
        height: 90%;
        width: 10%;
        flex-direction: column;
        justify-content: space-between;
        justify-items: center;
        align-items: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }

        .icon-nav div>img{
            width: 30px;
        }


/* ANCHOR Main */
main{
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 80%;
    width: 90%;
    top: 10vh;
    right: 0vw;
    overflow-y: auto;
    background-color: #141922;}


/* ANCHOR Sezione Nav */
/* FIXME manca qualche pixel dal TOP */
        .main-nav{
            display: flex;
            position: fixed;
            flex-wrap: wrap;
            height: fit-content;
            justify-content: center;
            background-color: #141922;
            margin-top: -1px;
        }

        .main-nav a{
            color: white;
            margin: 20px;
            font-size: 1em;

        }

/* ANCHOR Sezione Album */

    .main-sect{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 70px 20px 0 20px;

    }
        /* .main-sect-top{
            margin-top: 70px;

        } */
        .album-container{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;
            width: calc((200/2 - 10px));
        }

            .album-dim{
                width: 100px;
                height: 100px;
            }

            .album-Subtitle{
                display: flex;
                flex-direction: column;
                width: 150px;
                color: white;
                text-align: center;
                padding: 10px 0 10px 0;
            }
            .album-Subtitle p:nth-child(1){
                font-size: 0.8em;
                font-weight: 700;
            }

            .album-Subtitle p:nth-child(2){
                font-size: 0.6em;
                font-weight: 100;
            }

            .title{
                display: flex;
                flex-direction: column;
                color: white;
                width: 100%;
                padding: 30px 0 10px 10px;
            }

                .title h1{
                    font-size: 1.5em;
                }

                .title h3{
                    font-size: 0.8em;
                }

    .album1{
        background-image: url('./img/metal_lifting.jpg');
        background-size: contain;
        background-repeat: no-repeat;
    }

    .album2{
        background-image: url('./img/stranger.jpeg');
        background-size: contain;
        background-repeat: no-repeat;
    }

    .album3{
        background-image: url('./img/aquietplace.jpeg');
        background-size: contain;
        background-repeat: no-repeat;
    }

    .album4{
        background-image: url('./img/split.jpeg');
        background-size: contain;
        background-repeat: no-repeat;
    }

    .album5{
        background-image: url('./img/cure.jpeg');
        background-size: contain;
        background-repeat: no-repeat;
    }

    .album6{
        background-image: url('./img/sinister.jpeg');
        background-size: contain;
        background-repeat: no-repeat;
    }

    .album7{
        background-image: url('./img/radar.jpeg');
        background-size: contain;
        background-repeat: no-repeat;
    }

    .album8{
        background-image: url('./img/mixdaily.jpeg');
        background-size: contain;
        background-repeat: no-repeat;
    }

    .album9{
        background-image: url('./img/youg.jpeg');
        background-size: contain;
        background-repeat: no-repeat;
    }

    .album10{
        background-image: url('./img/einaudi.jpeg');
        background-size: contain;
        background-repeat: no-repeat;
    }

        .album9,
        .album10{
            border-radius: 50px;
        }











/* ANCHOR Footer */
footer{
    display: flex;
    position: absolute;
    justify-content: space-between;
    top: 90vh;
    height: 10vh;
    width: 100vw;
    /* background-color: aquamarine; */
}

    .footer-left{
        display: flex;
        /* background-color: aliceblue; */
        width: 20%;
        align-items: center;
    }

        .footer-left div>div>img{
            width: 50px;
        }
        .footer-left div>p:nth-child(1){
            font-size: 0.6em;
            font-weight:700;
            color: white;
        }
        .footer-left div>p:nth-child(2){
            font-size: 0.5em;
            color: white;
        }
        .footer-left div:nth-last-child(2){
            margin: 3px;
        }

    .footer-middle{
        display: flex;
        /* background-color: rgb(247, 10, 10); */
        width: 50%;
        flex-direction: column;
        justify-content: center;
    }
        .footer-middle div{
            display: flex;
            justify-content: space-between;
        }
        .footer-middle div>div{
            color: white;
            font-size: 1.2em;
            margin: 3px;
        }

    .footer-right{
        display: flex;
        justify-content: center;
        color: white;
        /* background-color: green; */
        width: 20%;
        align-items: center;
    }
        .footer-right div:nth-child(4){
            width: 10px;
        }
        .footer-right div{
            font-size: smaller;
        }

/* ANCHOR Hover */

}

/* !SECTION  */